<section class="w-[1200px] mx-auto">
  <h1 class="my-2 font-extrabold text-3xl">Posts by {{ postAuthor }}</h1>
  <div class="flex gap-2 justify-between">
    <button mat-icon-button (click)="returnHome()"><mat-icon class="text-3xl">arrow_back</mat-icon></button>
    <button mat-flat-button color="primary" (click)="addPost()">New Post</button>
  </div>
  <div class="w-full mt-6 flex gap-4 justify-center flex-wrap">
    <div
      class="w-[384px] h-[180px] bg-white shadow-md rounded-[8px] px-3 cursor-pointer hover:-translate-y-1 transition-transform"
      (click)="getPost(post)"
      *ngFor="let post of postList"
    >
      <h2 class="my-2 font-bold text-xl">
        {{ post.title }}
      </h2>
      <p class="my-3 line-clamp-3">{{ post.body }}</p>
    </div>
  </div>
</section>
