<section class="mx-auto w-[800px]">
  <h1 class="mt-2 mb-4 font-extrabold text-3xl">
    {{ editing ? "Edit User" : "Add New User" }}
  </h1>
  <form class="flex flex-col" [formGroup]="userForm" (ngSubmit)="saveUser()">
    <div class="flex gap-2">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="" formControlName="name" />
        <mat-error *ngIf="name.errors?.required">
          Please enter a name
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="" formControlName="username" />
        <mat-error *ngIf="username.errors?.required">
          Please enter a Username
        </mat-error>
      </mat-form-field>
    </div>
    <div class="flex gap-2">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="" formControlName="email" />
        <mat-error *ngIf="email.errors?.required">
          Please enter an email
        </mat-error>
        <mat-error *ngIf="!email.valid"> Email entered is not valid </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Phone</mat-label>
        <input type="tel" matInput placeholder="" formControlName="phone" />
      </mat-form-field>
    </div>
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Website</mat-label>
      <input type="url" matInput placeholder="" formControlName="website" />
    </mat-form-field>

    <h2 class="mt-2 mb-4 font-extrabold text-2xl">Address</h2>
    <div formGroupName="address">
      <div class="flex-col">
        <div class="flex w-full gap-2">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Street</mat-label>
            <input matInput placeholder="" formControlName="street" />
          </mat-form-field>
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Suite</mat-label>
            <input matInput placeholder="" formControlName="suite" />
          </mat-form-field>
        </div>
        <div class="flex w-full gap-2">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>City</mat-label>
            <input matInput placeholder="" formControlName="city" />
          </mat-form-field>
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Zipcode</mat-label>
            <input
              type="{{ !editing ? 'number' : 'text' }}"
              matInput
              placeholder=""
              formControlName="zipcode"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <h2 class="mt-2 mb-4 font-extrabold text-2xl">Company</h2>
    <div formGroupName="company">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Slogan</mat-label>
        <input matInput placeholder="" formControlName="catchPhrase" />
      </mat-form-field>
    </div>
    <div class="flex justify-between gap-2">
      <button
        class="w-30"
        mat-flat-button
        (click)="returnHome()"
      >
        Cancel
      </button>
      <button
        class="w-30"
        mat-flat-button
        color="primary"
        [disabled]="!userForm.valid"
      >
        {{ editing ? "Update" : "Save" }}
      </button>
    </div>
  </form>
</section>
