<section class="px-2 w-full">
  <h1 class="my-2 font-extrabold text-3xl">Users</h1>
  <div class="flex justify-between items-center mb-2">
    <div class="flex gap-2">
      <button mat-flat-button color="primary" (click)="addUser()">
        Add New
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="listPosts()"
        [disabled]="!postsMeta.enableButton"
      >
        View Posts
      </button>
    </div>

    <mat-form-field class="w-[300px] h-[48px]" appearance="fill">
      <mat-icon>search</mat-icon>
      <input matInput type="search" [(ngModel)]="filterTerm" />
    </mat-form-field>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8 w-full"
  >
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bg-slate-800 text-white"
      >
        ID
      </th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bg-slate-800 text-white"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bg-slate-800 text-white"
      >
        Username
      </th>
      <td mat-cell *matCellDef="let user">{{ user.username }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bg-slate-800 text-white"
      >
        Email
      </th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bg-slate-800 text-white"
      >
        Phone
      </th>
      <td mat-cell *matCellDef="let user">{{ user.phone }}</td>
    </ng-container>

    <!-- Website Column -->
    <ng-container matColumnDef="website">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bg-slate-800 text-white"
      >
        Website
      </th>
      <td mat-cell *matCellDef="let user">{{ user.website }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        class="bg-slate-800 text-white"
      >
        Actions
      </th>
      <td mat-cell *matCellDef="let user">
        <button
          mat-icon-buttons
          (click)="editUser(user.id)"
          class="w-10 h-10 hover:bg-slate-200 rounded-full"
        >
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button
          mat-icon-buttons
          (click)="deleteUser(user.id, $event)"
          class="w-10 h-10 hover:bg-slate-200 rounded-full"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      class="cursor-pointer hover:bg-slate-50"
      [ngClass]="{
        'bg-slate-200': postsMeta.rowSelected && postsMeta.userId === row.id
      }"
      *matRowDef="let row; columns: displayedColumns"
      (click)="enablePosts(row.id)"
    ></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</section>
