<div class="w-[600px] mx-auto px-10">
  <h1 class="font-extrabold text-3xl" mat-dialog-title>{{ data.title }}</h1>
  <h2 class="my-2 font-bold text-xl">
    {{ data.body }}
  </h2>
  <p class="my-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. At, accusantium?
    Consequatur quisquam voluptates modi ut. Cumque autem, odio delectus animi
    totam ea similique vel modi provident cum sed id, ex iusto consequatur
    architecto quas tempore. Labore velit, accusamus repellat autem praesentium
    exercitationem dignissimos voluptate, voluptates modi recusandae porro
    quaerat pariatur? Dicta rerum vel sapiente culpa modi, ut recusandae a iusto
    harum quos enim. A animi odit ea ex omnis mollitia officiis nobis dolorum
    ducimus voluptatem! Alias consequatur a veritatis velit explicabo, non
    ratione quisquam excepturi at dicta, odit, similique eius earum magnam. Ex,
    sunt. Minus mollitia laborum placeat. Perferendis, beatae.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
