<section class="mx-auto w-[500px]">
  <h1 class="mt-2 mb-4 font-extrabold text-3xl">Add New Post</h1>
  <form class="flex flex-col" [formGroup]="postForm" (ngSubmit)="savePost()">
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput placeholder="" formControlName="title" />
      <mat-error *ngIf="title.errors?.required">
        Please enter the title
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Body</mat-label>
      <textarea matInput placeholder="" rows="10" formControlName="body"></textarea>
      <mat-error *ngIf="body.errors?.required">
        The post body can't be empty
      </mat-error>
    </mat-form-field>
    <div class="flex justify-between">
      <button class="w-30" mat-flat-button (click)="onNoClick()">Cancel</button>
      <button
        class="w-30"
        type="submit"
        mat-button
        cdkFocusInitial
        color="primary"
        [disabled]="!postForm.valid"
      >
        Add
      </button>
    </div>
  </form>
</section>
